$colorPrimary: #005874
$colorPrimaryLight: #1c819e
$colorSecondary: #ffbe00
$colorWhite: #e6e6d4
$colorGray: #ADB0B3
// extend
%clearfix
  &:after,&:before
    content: ''
    display: table
  &:after
    clear: both